* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#game {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  margin: auto;
}

#character {
  width: 20px;
  height: 50px;
  background-color: aquamarine;
  border: 1px solid darkslategray;
  position: relative;
  top: 147px;
}

.jump-animation {
  animation: jump 500ms infinite;
}

@keyframes jump {
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

#block {
  width: 20px;
  height: 20px;
  background-color: khaki;
  border: 1px solid rgb(80, 78, 46);
  position: relative;
  top: 127px;
  left: 477px;
  animation: block 1s infinite linear;
}

@keyframes block {
  0%{left: 477px;}
  100%{left: -40px;}
}


